
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Welcome to Medanata +</h2>
        <ol class="breadcrumb">
            <li class="active">
                <a href="@Url.Action("Index", "Dashboard")">Home</a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content">
</div>


